.phonebook_list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: left;
}
.list_item {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.list_item:not(:last-child) {
  border-bottom: #000 1px solid;
  margin-bottom: 3px;
}
